.tables-page-container {
    display: flex;
    flex-direction: column;
}

.tables-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
  
.table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.table-circle {
    background-color: #3c2f2f;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    text-align: center;
}
  
.table-circle p {
    margin: 5px 0;
}
  
.table-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* AddPage */
.page-container {
    display: flex;
    flex-direction: column;
}

.title-container {
    align-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1 {
    font-size: 48px !important;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    margin-top: 40px;
}

.form-container, .info-container {
    display: flex;
    flex-direction: column;
    background-color: #4b3832;
    border: #3c2f2f;
    border-style: ridge;
    border-radius: 10px;
    padding: 30px;
    width: 350px;
}

.form-part-container, .info-button-container {
    display: flex;
}

.form-part-container label,
.form-part-container input,
.form-part-container select{
    width: 100%;
    margin-bottom: 30px;
}

.label-wrapper, .helper-container {
    flex: 1;
}

.input-wrapper {
    flex: 3;
}

input, select, option {
    color: #3c2f2f !important;
    font-size: 16px;
    font-weight: bold;
}

.info-button-container {
    margin-top: 10px;
}

.tableguests-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.tableguests-title {
    align-self: center;
    margin-bottom: 10px; 
}

.tableguests-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tableguest-container {
    margin: 10px;
}