* {
    color: #fff4e6 !important;
    font-family: "JetBrains Mono",monospace;
}

body {
    background-color:#854442 !important;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px; 
    cursor: pointer; 
  }

/* Imported button */
.button-add, .button-edit, .button-info, .button-delete {
    align-items: center;
    appearance: none;
    background-color: #D2B48C;
    font-size: 18px;
    margin: 10px;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    border-width: 0;
    /* box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset; */
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    align-self: center;
}

.button-add:focus, .button-edit:focus, .button-info:focus, .button-delete:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-add:hover, .button-edit:hover, .button-info:hover, .button-delete:hover{
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-add:active, .button-edit:active, .button-info:active, .button-delete:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.button-edit {
    background-color: #4C969C;
}

.button-info {
    background-color: #6C8E5E;
}

.button-delete {
    background-color: #800000;
}

h1 {
    font-size: 48px !important;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    align-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    margin-top: 20px;
}

.form-container, .info-container {
    display: flex;
    flex-direction: column;
    background-color: #4b3832;
    border: #3c2f2f;
    border-style: ridge;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    margin-bottom: 40px;
}

.info-container {
    align-items: center;
}

.form-part-container, .info-button-container {
    display: flex;
}

.form-part-container label,
.form-part-container input,
.form-part-container select{
    width: 100%;
    margin-bottom: 30px;
}

.label-wrapper, .helper-container {
    flex: 1;
}

.input-wrapper {
    flex: 3;
}

input, select, option {
    color: #3c2f2f !important;
    font-size: 16px;
    font-weight: bold;
}

.info-button-container {
    margin-top: 10px;
}
